@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Gentium+Book+Basic:400,700,400italic,700italic);
/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, .highlight, .pagination ul li, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, ul li dl, ol li dl, dt, dd, ol, ul li ol, ol li ol, ul, ul li ul, ol li ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, div {
  display: block; }

body {
  line-height: 1; }

ol, ul li ol, ol li ol, ul, ul li ul, ol li ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'posthuman';
  src: url("fonts/posthuman.eot");
  src: url("fonts/posthuman.eot?#iefix") format("embedded-opentype"), url("fonts/posthuman.woff") format("woff"), url("fonts/posthuman.ttf") format("truetype"), url("fonts/posthuman.svg#posthuman") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'posthuman';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ph-"] {
*/
.ph-posthuman_text, .ph-posthuman_hexagon, .ph-sun-stroke, .ph-moon-stroke, .ph-facebook, .ph-twitter, .ph-linkedin, .ph-reddit, .ph-envelop, .ph-lock, .ph-user, .ph-eye, .ph-eye-blocked, .ph-feed, .ph-embed, .ph-code, .ph-tumblr, .ph-html5, .ph-css3, .ph-chrome, .ph-firefox, .ph-IE, .ph-opera, .ph-safari, .ph-apple, .ph-finder, .ph-android, .ph-windows8, .ph-soundcloud, .ph-github, .ph-github-2, .ph-github-3, .ph-google-plus, .ph-contrast, .ph-location, .ph-pencil, .ph-phone, .ph-keyboard, .ph-screen, .ph-laptop, .ph-mobile, .ph-mobile-2, .ph-tablet, .ph-tv, .ph-cog, .ph-bug, .ph-link, .ph-vimeo, .ph-instagram, .ph-google-drive, .ph-dribbble, .ph-flickr, .ph-wordpress, .ph-foursquare, .ph-pinterest, .ph-paypal, .ph-file-xml, .ph-file-css, .ph-windows, .ph-forrst, .ph-stackoverflow, .ph-youtube, .ph-youtube-2, .ph-tag, .ph-cart, .ph-image, .ph-camera, .ph-music, .ph-arrow-left, .ph-arrow-right, .ph-arrow-up, .ph-arrow-down, .ph-search, .ph-spinner, .ph-mug, .ph-tux, .ph-warning, .ph-checkmark, .ph-cancel, .ph-copy, .ph-bullhorn {
  font-family: 'posthuman';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.ph-posthuman_text:before {
  content: "\e000"; }

.ph-posthuman_hexagon:before {
  content: "\e001"; }

.ph-sun-stroke:before {
  content: "\e002"; }

.ph-moon-stroke:before {
  content: "\e003"; }

.ph-facebook:before {
  content: "\e004"; }

.ph-twitter:before {
  content: "\e005"; }

.ph-linkedin:before {
  content: "\e006"; }

.ph-reddit:before {
  content: "\e007"; }

.ph-envelop:before {
  content: "\e008"; }

.ph-lock:before {
  content: "\e009"; }

.ph-user:before {
  content: "\e00a"; }

.ph-eye:before {
  content: "\e00b"; }

.ph-eye-blocked:before {
  content: "\e00c"; }

.ph-feed:before {
  content: "\e00d"; }

.ph-embed:before {
  content: "\e00e"; }

.ph-code:before {
  content: "\e00f"; }

.ph-tumblr:before {
  content: "\e010"; }

.ph-html5:before {
  content: "\e011"; }

.ph-css3:before {
  content: "\e012"; }

.ph-chrome:before {
  content: "\e013"; }

.ph-firefox:before {
  content: "\e014"; }

.ph-IE:before {
  content: "\e015"; }

.ph-opera:before {
  content: "\e016"; }

.ph-safari:before {
  content: "\e017"; }

.ph-apple:before {
  content: "\e018"; }

.ph-finder:before {
  content: "\e019"; }

.ph-android:before {
  content: "\e01a"; }

.ph-windows8:before {
  content: "\e01b"; }

.ph-soundcloud:before {
  content: "\e01c"; }

.ph-github:before {
  content: "\e01d"; }

.ph-github-2:before {
  content: "\e01f"; }

.ph-github-3:before {
  content: "\e020"; }

.ph-google-plus:before {
  content: "\e021"; }

.ph-contrast:before {
  content: "\e022"; }

.ph-location:before {
  content: "\e023"; }

.ph-pencil:before {
  content: "\e024"; }

.ph-phone:before {
  content: "\e025"; }

.ph-keyboard:before {
  content: "\e026"; }

.ph-screen:before {
  content: "\e027"; }

.ph-laptop:before {
  content: "\e028"; }

.ph-mobile:before {
  content: "\e029"; }

.ph-mobile-2:before {
  content: "\e02a"; }

.ph-tablet:before {
  content: "\e02b"; }

.ph-tv:before {
  content: "\e02c"; }

.ph-cog:before {
  content: "\e02d"; }

.ph-bug:before {
  content: "\e02e"; }

.ph-link:before {
  content: "\e02f"; }

.ph-vimeo:before {
  content: "\e030"; }

.ph-instagram:before {
  content: "\e031"; }

.ph-google-drive:before {
  content: "\e032"; }

.ph-dribbble:before {
  content: "\e033"; }

.ph-flickr:before {
  content: "\e034"; }

.ph-wordpress:before {
  content: "\e035"; }

.ph-foursquare:before {
  content: "\e036"; }

.ph-pinterest:before {
  content: "\e037"; }

.ph-paypal:before {
  content: "\e038"; }

.ph-file-xml:before {
  content: "\e039"; }

.ph-file-css:before {
  content: "\e03a"; }

.ph-windows:before {
  content: "\e01e"; }

.ph-forrst:before {
  content: "\e03b"; }

.ph-stackoverflow:before {
  content: "\e03c"; }

.ph-youtube:before {
  content: "\e03d"; }

.ph-youtube-2:before {
  content: "\e03e"; }

.ph-tag:before {
  content: "\e040"; }

.ph-cart:before {
  content: "\e041"; }

.ph-image:before {
  content: "\e042"; }

.ph-camera:before {
  content: "\e043"; }

.ph-music:before {
  content: "\e044"; }

.ph-arrow-left:before {
  content: "\e045"; }

.ph-arrow-right:before {
  content: "\e046"; }

.ph-arrow-up:before {
  content: "\e047"; }

.ph-arrow-down:before {
  content: "\e048"; }

.ph-search:before {
  content: "\e049"; }

.ph-spinner:before {
  content: "\e04a"; }

.ph-mug:before {
  content: "\e04b"; }

.ph-tux:before {
  content: "\e04c"; }

.ph-warning:before {
  content: "\e04e"; }

.ph-checkmark:before {
  content: "\e03f"; }

.ph-cancel:before {
  content: "\e04d"; }

.ph-copy:before {
  content: "\e04f"; }

.ph-bullhorn:before {
  content: "\e050"; }

.row {
  width: auto;
  margin: 0 auto;
  max-width: 100px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse > .column, .row.collapse > .columns {
    padding: 0px; }
  .row.full-width {
    max-width: 100%; }
  .row .row {
    width: auto;
    max-width: 100%; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse > .column, .row .row.collapse > .columns {
      padding: 0px; }
    .row .row.full-width {
      max-width: 100%; }

.column, .columns {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 100%; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.push-1 {
  left: 8.33333%;
  position: relative; }

.push-2 {
  left: 16.66667%;
  position: relative; }

.push-3 {
  left: 25%;
  position: relative; }

.push-4 {
  left: 33.33333%;
  position: relative; }

.push-5 {
  left: 41.66667%;
  position: relative; }

.push-6 {
  left: 50%;
  position: relative; }

.push-7 {
  left: 58.33333%;
  position: relative; }

.push-8 {
  left: 66.66667%;
  position: relative; }

.push-9 {
  left: 75%;
  position: relative; }

.push-10 {
  left: 83.33333%;
  position: relative; }

.push-11 {
  left: 91.66667%;
  position: relative; }

.push-12 {
  left: 100%;
  position: relative; }

.pull-1 {
  right: 8.33333%;
  position: relative; }

.pull-2 {
  right: 16.66667%;
  position: relative; }

.pull-3 {
  right: 25%;
  position: relative; }

.pull-4 {
  right: 33.33333%;
  position: relative; }

.pull-5 {
  right: 41.66667%;
  position: relative; }

.pull-6 {
  right: 50%;
  position: relative; }

.pull-7 {
  right: 58.33333%;
  position: relative; }

.pull-8 {
  right: 66.66667%;
  position: relative; }

.pull-9 {
  right: 75%;
  position: relative; }

.pull-10 {
  right: 83.33333%;
  position: relative; }

.pull-11 {
  right: 91.66667%;
  position: relative; }

.pull-12 {
  right: 100%;
  position: relative; }

@media only screen {
  .small-1 {
    width: 8.33333%;
    position: relative; }

  .small-offset-1 {
    margin-left: 8.33333%; }

  .small-2 {
    width: 16.66667%;
    position: relative; }

  .small-offset-2 {
    margin-left: 16.66667%; }

  .small-3 {
    width: 25%;
    position: relative; }

  .small-offset-3 {
    margin-left: 25%; }

  .small-4 {
    width: 33.33333%;
    position: relative; }

  .small-offset-4 {
    margin-left: 33.33333%; }

  .small-5 {
    width: 41.66667%;
    position: relative; }

  .small-offset-5 {
    margin-left: 41.66667%; }

  .small-6 {
    width: 50%;
    position: relative; }

  .small-offset-6 {
    margin-left: 50%; }

  .small-7 {
    width: 58.33333%;
    position: relative; }

  .small-offset-7 {
    margin-left: 58.33333%; }

  .small-8 {
    width: 66.66667%;
    position: relative; }

  .small-offset-8 {
    margin-left: 66.66667%; }

  .small-9 {
    width: 75%;
    position: relative; }

  .small-offset-9 {
    margin-left: 75%; }

  .small-10 {
    width: 83.33333%;
    position: relative; }

  .small-offset-10 {
    margin-left: 83.33333%; }

  .small-11 {
    width: 91.66667%;
    position: relative; }

  .small-offset-11 {
    margin-left: 91.66667%; }

  .small-12 {
    width: 100%;
    position: relative; }

  .small-offset-12 {
    margin-left: 100%; }

  .small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; } }
@media only screen and (min-width: 768px) {
  .medium-1 {
    width: 8.33333%;
    position: relative; }

  .medium-offset-1 {
    margin-left: 8.33333%; }

  .medium-2 {
    width: 16.66667%;
    position: relative; }

  .medium-offset-2 {
    margin-left: 16.66667%; }

  .medium-3 {
    width: 25%;
    position: relative; }

  .medium-offset-3 {
    margin-left: 25%; }

  .medium-4 {
    width: 33.33333%;
    position: relative; }

  .medium-offset-4 {
    margin-left: 33.33333%; }

  .medium-5 {
    width: 41.66667%;
    position: relative; }

  .medium-offset-5 {
    margin-left: 41.66667%; }

  .medium-6 {
    width: 50%;
    position: relative; }

  .medium-offset-6 {
    margin-left: 50%; }

  .medium-7 {
    width: 58.33333%;
    position: relative; }

  .medium-offset-7 {
    margin-left: 58.33333%; }

  .medium-8 {
    width: 66.66667%;
    position: relative; }

  .medium-offset-8 {
    margin-left: 66.66667%; }

  .medium-9 {
    width: 75%;
    position: relative; }

  .medium-offset-9 {
    margin-left: 75%; }

  .medium-10 {
    width: 83.33333%;
    position: relative; }

  .medium-offset-10 {
    margin-left: 83.33333%; }

  .medium-11 {
    width: 91.66667%;
    position: relative; }

  .medium-offset-11 {
    margin-left: 91.66667%; }

  .medium-12 {
    width: 100%;
    position: relative; }

  .medium-offset-12 {
    margin-left: 100%; }

  .medium-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; } }
@media only screen and (min-width: 1024px) {
  .large-1 {
    width: 8.33333%;
    position: relative; }

  .large-offset-1 {
    margin-left: 8.33333%; }

  .large-2 {
    width: 16.66667%;
    position: relative; }

  .large-offset-2 {
    margin-left: 16.66667%; }

  .large-3 {
    width: 25%;
    position: relative; }

  .large-offset-3 {
    margin-left: 25%; }

  .large-4 {
    width: 33.33333%;
    position: relative; }

  .large-offset-4 {
    margin-left: 33.33333%; }

  .large-5 {
    width: 41.66667%;
    position: relative; }

  .large-offset-5 {
    margin-left: 41.66667%; }

  .large-6 {
    width: 50%;
    position: relative; }

  .large-offset-6 {
    margin-left: 50%; }

  .large-7 {
    width: 58.33333%;
    position: relative; }

  .large-offset-7 {
    margin-left: 58.33333%; }

  .large-8 {
    width: 66.66667%;
    position: relative; }

  .large-offset-8 {
    margin-left: 66.66667%; }

  .large-9 {
    width: 75%;
    position: relative; }

  .large-offset-9 {
    margin-left: 75%; }

  .large-10 {
    width: 83.33333%;
    position: relative; }

  .large-offset-10 {
    margin-left: 83.33333%; }

  .large-11 {
    width: 91.66667%;
    position: relative; }

  .large-offset-11 {
    margin-left: 91.66667%; }

  .large-12 {
    width: 100%;
    position: relative; }

  .large-offset-12 {
    margin-left: 100%; }

  .large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; } }
button, a.button, input[type=submit] {
  background: #4fc7ff;
  border: none;
  padding: 0.5em;
  font-size: 1em;
  display: inline-block;
  border-radius: 2px;
  color: white !important; }
  button:hover, a.button:hover, input[type=submit]:hover {
    background: #1cb7ff; }
  button.tiny, a.button.tiny, input[type=submit].tiny {
    padding: 0.5em;
    font-size: 0.7em; }
  button.small, a.button.small, input[type=submit].small {
    padding: 0.5em;
    font-size: 0.8em; }
  button.large, a.button.large, input[type=submit].large {
    padding: 0.9em;
    font-size: 1.2em; }
  button.expand, a.button.expand, input[type=submit].expand {
    width: 100%; }
  button.primary, a.button.primary, input[type=submit].primary {
    background: #4fc7ff; }
    button.primary:hover, a.button.primary:hover, input[type=submit].primary:hover {
      background: #1cb7ff; }
  button.secondary, a.button.secondary, input[type=submit].secondary {
    background: #9ca1a3; }
    button.secondary:hover, a.button.secondary:hover, input[type=submit].secondary:hover {
      background: #82888a; }
  button.disabled, a.button.disabled, input[type=submit].disabled {
    background: #cccccc; }
    button.disabled:hover, a.button.disabled:hover, input[type=submit].disabled:hover {
      background: #cccccc; }
  button.alert, a.button.alert, input[type=submit].alert {
    background: #ff362a; }
    button.alert:hover, a.button.alert:hover, input[type=submit].alert:hover {
      background: #f60e00; }

a {
  color: #4fc7ff;
  text-decoration: none; }
  a:visited {
    color: #4fc7ff; }
  a:hover {
    color: #1cb7ff; }
  a.primary {
    color: #4fc7ff; }
    a.primary:hover {
      color: #1cb7ff; }
  a.secondary {
    color: #9ca1a3; }
    a.secondary:hover {
      color: #82888a; }
  a.disabled {
    color: #cccccc; }
    a.disabled:hover {
      color: #cccccc; }
  a.alert {
    color: #ff362a; }
    a.alert:hover {
      color: #f60e00; }

img.fluid-image {
  max-width: 100%;
  height: auto; }

body {
  font-size: 16px; }
  @media only screen and (min-width: 768px) {
    body {
      font-size: 18px; } }
  @media only screen and (min-width: 1024px) {
    body {
      font-size: 22px; } }

h1, .h1 {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: .5em;
  line-height: 1.2em; }
  h1 small, .h1 small {
    font-size: 0.4em;
    display: block; }

h2, .h2 {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.6em;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: .5em;
  line-height: 1.2em; }
  h2 small, .h2 small {
    font-size: -1.2em;
    display: block; }

h3, .h3 {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.4em;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: .5em;
  line-height: 1.2em; }
  h3 small, .h3 small {
    font-size: -2.8em;
    display: block; }

h4, .h4 {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: .5em;
  line-height: 1.2em; }
  h4 small, .h4 small {
    font-size: -4.4em;
    display: block; }

h5, .h5 {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: .5em;
  line-height: 1.2em; }
  h5 small, .h5 small {
    font-size: -6em;
    display: block; }

h6, .h6 {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: .5em;
  line-height: 1.2em; }
  h6 small, .h6 small {
    font-size: -7.6em;
    display: block; }

p {
  font-family: "Gentium Book Basic", Times, serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.61803;
  margin: 1.5em 0; }

strong {
  font-weight: 700; }

ul, ul li ul, ol li ul {
  margin: 1.5em 0 1.5em 1em; }
  ul li, ul li ul li, ol li ul li {
    line-height: 1.61803;
    list-style-type: disc; }
    ul li ul {
      margin-top: 0px;
      margin-bottom: 0px; }
    ul li ol {
      margin-top: 0px;
      margin-bottom: 0px; }
    ul li dl {
      margin-top: 0px;
      margin-bottom: 0px; }

ol, ul li ol, ol li ol {
  margin: 1.5em 0 1.5em 1.4em; }
  ol li, ul li ol li, ol li ol li {
    line-height: 1.61803;
    list-style-type: decimal; }
    ol li ul {
      margin-top: 0px;
      margin-bottom: 0px; }
    ol li ol {
      margin-top: 0px;
      margin-bottom: 0px; }
    ol li dl {
      margin-top: 0px;
      margin-bottom: 0px; }

dl, ul li dl, ol li dl {
  margin: 1.5em 0 1.5em 0; }
  dl dd, ul li dl dd, ol li dl dd {
    margin-left: 1em;
    line-height: 1.61803; }
    dl dd:before {
      content: "- "; }

/* THIS AREA NEEDS VARIABLES */
code, .highlight, .pagination ul li {
  background: #fff;
  color: #777;
  padding: .2em;
  border-radius: 2px; }
  @media only screen {
    code, .highlight, .pagination ul li {
      padding: .1em; } }

.highlight {
  padding: .5em; }
  .highlight code, .highlight .highlight, .highlight .pagination ul li, .pagination ul .highlight li {
    background: none;
    white-space: pre-wrap; }

blockquote {
  padding-left: 10px;
  border-left: 5px solid #cccccc; }

cite {
  font-style: italic;
  font-size: .8em;
  display: block;
  margin-top: 1em; }
  cite:before {
    content: "\2014 \0020"; }

nav ul li {
  display: block; }
  @media only screen and (min-width: 768px) {
    nav ul li {
      display: inline-block; } }

body {
  background: whitesmoke url("/images/bg.png");
  margin-top: 50px;
  color: #323232; }
  @media only screen and (min-width: 768px) {
    body {
      margin-top: 60px; } }
  @media only screen and (min-width: 1024px) {
    body {
      margin-top: 75px; } }
  body a {
    transition: color 0.5s, height 0.5s, transform 0.5s;
    -webkit-transition: color 0.5s, height 0.5s, -webkit-transform 0.5s;
    -moz-transition: color 0.5s, height 0.5s, -moz-transform 0.5s; }
  body small {
    color: #cccccc;
    margin-bottom: -1em; }
  body header#header {
    position: fixed;
    height: 50px;
    padding: 15px 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    top: 0;
    z-index: 1000;
    overflow: hidden;
    transition: color 0.5s, height 0.5s, transform 0.5s;
    -webkit-transition: color 0.5s, height 0.5s, -webkit-transform 0.5s;
    -moz-transition: color 0.5s, height 0.5s, -moz-transform 0.5s; }
    @media only screen and (min-width: 768px) {
      body header#header {
        height: 60px;
        padding: 12px 0; } }
    @media only screen and (min-width: 1024px) {
      body header#header {
        height: 75px;
        padding: 13px 0; } }
    body header#header.active {
      transition: color 0.5s, height 0.5s, transform 0.5s;
      -webkit-transition: color 0.5s, height 0.5s, -webkit-transform 0.5s;
      -moz-transition: color 0.5s, height 0.5s, -moz-transform 0.5s; }
      @media only screen {
        body header#header.active {
          height: 100%; } }
      @media only screen and (min-width: 768px) {
        body header#header.active {
          height: inherit; } }
    body header#header .ph-arrow-down {
      position: fixed;
      top: 16px;
      right: 26px;
      z-index: 9999; }
      @media only screen and (min-width: 768px), only screen and (min-width: 1024px) {
        body header#header .ph-arrow-down {
          display: none; } }
    body header#header nav ul {
      margin: 0; }
      body header#header nav ul li {
        margin: 0 1em;
        vertical-align: middle; }
        body header#header nav ul li a {
          color: #ff362a;
          font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          text-transform: uppercase; }
          @media only screen and (min-width: 768px) {
            body header#header nav ul li a {
              font-size: 1em; } }
          @media only screen and (min-width: 1024px) {
            body header#header nav ul li a {
              font-size: .8em; } }
          body header#header nav ul li a:hover {
            color: #4fc7ff; }
        body header#header nav ul li.mobile-logo {
          margin-bottom: 10px !important; }
          @media only screen and (min-width: 768px), only screen and (min-width: 1024px) {
            body header#header nav ul li.mobile-logo {
              display: none; } }
          body header#header nav ul li.mobile-logo a {
            color: #323232;
            font-size: 1em; }
            body header#header nav ul li.mobile-logo a:hover {
              color: #9ca1a3; }
        body header#header nav ul li.logo {
          display: none; }
          @media only screen and (min-width: 768px) {
            body header#header nav ul li.logo {
              display: inline-block; } }
          body header#header nav ul li.logo a {
            color: #323232; }
            @media only screen and (min-width: 768px) {
              body header#header nav ul li.logo a {
                font-size: 1.3em; } }
            @media only screen and (min-width: 1024px) {
              body header#header nav ul li.logo a {
                font-size: 1.4em; } }
            body header#header nav ul li.logo a:hover {
              color: #9ca1a3; }
  body .content article {
    margin-bottom: 2em; }
  body .content.index article p {
    margin-bottom: 1em; }
  body .content.index footer {
    border: 0;
    padding-top: 0; }
  body footer {
    border-top: 1px solid #d6d6d6;
    padding-top: 1.5em;
    font-size: .8em; }
    body footer a {
      text-transform: capitalize; }
      body footer a:after {
        content: ", "; }
      body footer a:last-child:after {
        content: ""; }

.banner {
  margin-bottom: 1em; }
  .banner img {
    max-width: 100%;
    width: 100%;
    display: block; }

.demo .row {
  margin: .2em auto; }
  .demo .row .columns {
    background: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    color: #777;
    padding: .5em; }

.pagination {
  vertical-align: middle;
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
  .pagination ul {
    margin-left: 0; }
    .pagination ul li {
      padding: .3em;
      display: inline-block; }
      .pagination ul li:hover a {
        color: red; }

ul.tags {
  margin: 0; }
  ul.tags li {
    list-style-type: none; }

/* Form Elements */
