//////////////////////////////////////////////////
// Buttons and A elements
//////////////////////////////////////////////////

$primary: rgb(92, 133, 235) !default;
	$primary-hover: darken($primary, 10%) !default;
$secondary: rgb(0, 237, 122) !default;
	$secondary-hover: darken($secondary, 10%) !default;
$disabled: rgb(200, 199, 184) !default;
	$disabled-hover: darken($disabled, 2%) !default;
$alert: rgb(255, 54, 42) !default;
	$alert-hover: darken($alert, 10%) !default;

$button-type: primary $primary $primary-hover, secondary $secondary $secondary-hover, disabled $disabled $disabled-hover, alert $alert $alert-hover;


$button-padding: .5em !default;
$button-font-size: 1em !default;
$button-border-radius: 2px !default;

@mixin clickables() {
	// generating other buttons
	button, a.button, input[type=submit] {
		background: $primary;
		border: none;
		padding: $button-padding;
		font-size: $button-font-size;
		display: inline-block;
		border-radius: $button-border-radius;
		color: white !important;
		&:hover {
			background: $primary-hover;
		}
		&.tiny {
			padding: $button-padding;
			font-size: $button-font-size - .3em;
		}
		&.small {
			padding: $button-padding;
			font-size: $button-font-size - .2em;
		}
		&.large {
			padding: $button-padding + .4em;
			font-size: $button-font-size + .2em;
		}
		&.expand {
			width: 100%;
		}
		@each $type in $button-type {
			&.#{nth($type, 1)} {
				background: #{nth($type, 2)};
				&:hover {
					background: #{nth($type, 3)};
				}
			}
		}
	}
	a {
		color: $primary;
		text-decoration: none;
		&:visited {
			color: $primary;
		}
		&:hover {
			color: $primary-hover;
		}
		@each $type in $button-type {
			&.#{nth($type, 1)} {
				color: #{nth($type, 2)};
				&:hover {
					color: #{nth($type, 3)};
				}
			}
		}
	}
}

@include clickables;

//////////////////////////////////////////////////
// Images
//////////////////////////////////////////////////

img {
	&.fluid-image {
		max-width: 100%;
		height: auto;
	}
}

//////////////////////////////////////////////////
// Typography
//////////////////////////////////////////////////

$em-reset-screen: 16px !default;
$em-reset-medium: 18px !default;
$em-reset-large: 22px !default;

// em Reset
body {
	font-size: $em-reset-screen;
	@media #{$medium} {
		font-size: $em-reset-medium;
	}
	@media #{$large} {
		font-size: $em-reset-large;
	}
}

$import-default-fonts: true !default;

@if $import-default-fonts == true {
	@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Gentium+Book+Basic:400,700,400italic,700italic);
} 

// Font Families
$h-font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$content-font-family: "Gentium Book Basic", Times, serif !default;

// Font Sizes
$h-font-size: 2em !default;
$h-font-weight: 700 !default;
$content-font-size: 1em !default;
$content-font-weight: 300 !default;

@mixin h-elements {
	@for $i from 1 through 6 {
		h#{$i}, .h#{$i} {
			font-family: $h-font-family;
			font-size: $h-font-size - ($i * .2);
			font-weight: $h-font-weight;
			margin-top: 1em;
			margin-bottom: .5em;
			line-height: 1.2em;
			small {
				font-size: $h-font-size - ($i * 1.6);
				display: block;
			}
		}
	}
}

@include h-elements;

// Paragraphs
$line-height: 1.61803398875 !default;
$p-margin: 1.5em 0 !default;

p {
	font-family: $content-font-family;
	font-size: $content-font-size;
	font-weight: $content-font-weight;
	line-height: $line-height;
	margin: $p-margin;
}

strong {
	font-weight: $h-font-weight;
}

// Lists
$ul-margin: 1.5em 0 1.5em 1em !default;
$ol-margin: 1.5em 0 1.5em 1.4em !default;
$dl-margin: 1.5em 0 1.5em 0 !default;
@mixin child-list-margin-reset {
	@each $list-type in ul, ol, dl {
		#{$list-type} {
			@extend #{$list-type};
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}
}

ul {
	margin: $ul-margin;
	li {
		line-height: $line-height;
		list-style-type: disc;
		@include child-list-margin-reset;
	}
}
ol {
	margin: $ol-margin;
	li {
		line-height: $line-height;
		list-style-type: decimal;
		@include child-list-margin-reset;
	}
}
dl {
	margin: $dl-margin;
	dd {
		margin-left: 1em;
		line-height: $line-height;
		&:before {
			content: "- ";

		}
	}
}

/* THIS AREA NEEDS VARIABLES */

//Code and code highlighting
code {
	background: #fff;
	color: #777;
	padding: .2em;
	border-radius: $button-border-radius;
	@media #{$small} {
		padding: .1em;
	}
}

.highlight {
	@extend code;
	padding: .5em;
	// border: 1px solid #aaa;
	code {
		background: none;
		white-space: pre-wrap;
	}
}

blockquote {
	padding-left: 10px;
	border-left: 5px solid $disabled;
}

cite {
	font-style: italic;
	font-size: .8em;
	display: block;
	margin-top: 1em;
	&:before {
		content: "\2014 \0020"
	}
}

//////////////////////////////////////////////////
// Nav Defaults
//////////////////////////////////////////////////

nav {
	ul {
		li {
			display: block;
			@media #{$medium} {
				display: inline-block;
			}
		}
	}
}

