//////////////////////////////////////////////////
// Buttons and A elements
//////////////////////////////////////////////////

$button-type: primary $primary $primary-hover, secondary $secondary $secondary-hover, disabled $disabled $disabled-hover, alert $alert $alert-hover;

$button-padding: .5em !default;
$button-font-size: 1em !default;
