@mixin animate($single-animation-name: rotation, $time: 40s, $timing-function: linear, $iterations: infinite) {
	animation: $single-animation-name $time $timing-function $iterations;
		-webkit-animation: $single-animation-name $time $timing-function $iterations;
		-moz-animation: none;
		-o-animation: $single-animation-name $time $timing-function $iterations;
}
@mixin transform-origin($transform-origin: 50%) {
	transform-origin: $transform-origin;
		-webkit-transform-origin: $transform-origin;
		-moz-transform-origin: 50% 50% 0!important;
		-o-transform-origin: $transform-origin;
}

.ph-eye {
	max-height: 90%;
	.ph-circle {
		fill: $primary;
		// stroke: white;
		// stroke-width: 15;
	}
	.ph-eyelid {
		@include animate(blink, 10s, ease, infinite);
		@include transform-origin;
		
		// -webkit-animation-delay: 10s;
	}
	.ph-gear {
		// fill: red;
		@include animate(rotation, 40s, linear, infinite);
		@include transform-origin;
		&:hover {
			
		}
	}
}

@-webkit-keyframes rotation {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes blink {
	0%, 98%, 100% {
		-webkit-transform: scaleX(1) scaleY(1);
	}
	99% {
		-webkit-transform: scaleX(1.1) scaleY(.01);
	}
}