@mixin transition($duration: 0.5s) {
	transition: color $duration, height $duration, transform $duration;
		-webkit-transition: color $duration, height $duration, -webkit-transform $duration;
		-moz-transition: color $duration, height $duration, -moz-transform $duration;
}
@mixin background-gradient($primarycolor, $secondarycolor ) {
	background: $primarycolor;
	background-image: -webkit-gradient(linear, left top, left bottom, from($primarycolor), to($secondarycolor, $primarycolor)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, $primarycolor, $secondarycolor); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, $primarycolor, $secondarycolor); /* FF3.6+ */
	background-image:     -ms-linear-gradient(top, $primarycolor, $secondarycolor); /* IE10 */
	background-image:      -o-linear-gradient(top, $primarycolor, $secondarycolor); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, $primarycolor, $secondarycolor); /* W3C */
}
body {
	//margin-top: 50px; for fixed header
	color: rgb(77, 77, 77);
	// @media #{$medium} {
	// 	margin-top: 60px;
	// }
	// @media #{$large} {
	// 	margin-top: 75px;
	// }
	h1, .h1 {
		 text-transform: uppercase;
	}
	a {
		@include transition;
	}
	small {
		color: darken($disabled, 25%);
		margin-bottom: -1em;
	}
	header {
		&#header {
			//position: fixed;
			height: 50px;
			//padding: 15px 0;
			width: 100%;
			background: rgb(26, 26, 26);
			top: 0;
			z-index: 1000;
			overflow: hidden;
			@include transition;
			&.active {
				height: 230px;
				@media #{$medium} {
					height: inherit;
				}
				@include transition;
				.ph-arrow-down {
					transform: rotate(180deg);
					-webkit-transform: rotate(180deg);
					@include transition;
				}
			}
			.ph-arrow-down {
				color: white;
				position: absolute;
				top: 16px;
				right: 26px;
				z-index: 9999;
				@include transition;
				@media #{$medium}, #{$large} {
					display: none;
				}
			}
			nav {
				ul {
					&.pages {
						float: left;
						clear: both;
						margin-bottom: 1em;
						@media #{$medium} {
							float: right;
							clear: none;
							margin-bottom: 0;
						}
					}
					li {
						line-height: 1;
						a {
							color: white;
							font-family: $h-font-family;
							text-transform: uppercase;
							font-size: .8em;
							font-weight: 300;
							padding: 1em .5em;
							display: block;
							@media #{$medium} {
								padding: 18px .5em;
								font-size: 15px;
							}
							&:hover {
								color: rgb(222, 222, 222);
							}
						}
						&.logo {
							.ph-posthuman_text {
								stroke: 1;
							}
							@media #{$medium} {
								display: inline-block;
							}
							a {
								padding: 14px 0;
								color: white;
								font-size: 20px;
								&:hover {
									color: rgb(222, 222, 222);
								}
							}
						}
					}
				}
			}
		}
	}
	.content {
		article {
			margin-bottom: 4em;
		}
		&.index {
			.h1 {
				margin-bottom: .5em;
			}
			article {
				p {
					margin-bottom: 1em;
				}
			}
			footer {
				border: 0;
				padding-top: 0;
			}
		}
	}
	footer {
		border-top: 1px solid #d6d6d6;
		padding-top: 1.5em;
		font-size: .8em;
		a {
			text-transform: capitalize;
			&:after {
				content: ", ";
			}
			&:last-child:after {
				content: "";
			}
		}
	}
}

.banner {
	margin: $p-margin;
	min-height: 150px;
	height: auto;
	overflow: hidden;
	background-color: $disabled;
	padding: 10em 0 .5em 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	&.fixed {
		max-height: 150px;
		padding: .5em 0;
		@media #{$medium} {
			max-height: 300px;	
		}
	}
	&:before {
		content: '';
		@include background-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5));
		position: absolute;
		width: 100%;
		min-height: 800px;
		height: auto;
		bottom: 0;
		left: 0;
	}
	.pheye {
		height: 130px;
		margin: 0 auto;
		width: 100%;
		@media #{$medium} {
			height: 270px;
		}
	}
	@media #{$medium} {
		height: auto;
		min-height: 200px;
	}
	header {
		padding: 0 2%;
		display: table-cell;
		vertical-align: bottom;
		text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
		h1 {
			color: white;
			font-size: 2em;
			font-weight: 500;
			line-height: 1;
		}
	}
	// img {
	// 	max-width: 100%;
	// 	width: 100%;
	// 	display: block;
	// 	margin-top: -15px;
	// }
}

.demo {
	.row {
		margin: .2em auto;
		.columns {
			background: #fff;
			border: 1px solid #d6d6d6;
			border-radius: $border-radius;
			color: #777;
			padding: .5em;
		}
	}
}


nav.pagination {
	// margin-bottom: 3em;
	ul {
		vertical-align: middle;
		font-family: $h-font-family;
		margin-left: 0;
		li {
			@extend code;
			padding: .3em;
			display: inline-block;
			&:first-child {
				
			}
			&:hover {
				a {
					color: red;
				}
			}
		}
	}
}

h1.tags {
	text-transform: capitalize;
}

ul.tags {
	margin: 0;
	text-transform: capitalize;
	li {
		list-style-type: none;
	}
}

.pagenotfound {
	height: 100%;
	width: 100%;
	padding: 0 10%;
	background: url(http://i.imgur.com/zB98Tca.gif) center center no-repeat;
	background-size: cover;
}