---
layout: default
title: Posthuman - About
banner: 
---

<div class="content page">
	<div class="row collapse banner fixed" {% if banner!= "null" %}style="background-image:url({{ site.baseurl }}{{ page.banner }});"{% endif %}>
		<div class="screen-12 columns">
			<object data="{{ site.baseurl }}/assets/svg/pheye-live.svg" type="image/svg+xml" class="pheye">
			</object>
		</div>
	</div>
	<div class="row">
		{% include content-columns.html %}
			<h1 class="title">About</h1>			
		</div>
	</div>
	<div class="row">
		{% include content-columns.html %}
			<h2>Who We Are</h2>
			
			<p>Posthuman is a group of freelance designers &amp; developers devoted to pushing the limits of their craft. We want to help create client products that evolve their business, and share our cumulative knowledge with the community of our peers.</p>

			<h2>Our Mission</h2>
			<h3>Be More Than You Are</h3>
						
			<p>For us this means to not limit ourselves to what we know, and constantly furthering our education. We believe that by breaking the boundaries of the "I've-never-done-its" with collaborative research and education, we become more competent, versatile, and confident in our skills. Since we always finish what we start, it ensures that you'll consistently be improving and growing as an individual.</p>
						
			<p>Part of this also means that it's important not to pigeonhole ourselves. While it is good to have a skill that is your primary strength and your marketable asset, it's best to keep in mind that you are not your job title. So many people get a business card with a skill on it, and suddenly that is who they are. We believe that creatives can apply their medium of choice (whether it be web, print, or fine art) in to many different projects, and by collaborating, we learn things beyond our comfort zone we may not have otherwise.</p>
		</div>
	</div>
</div>