---
layout: default
title: Posthuman - Blog
banner: /assets/images/IMG_6588.jpg
---

<div class="content index">
	<div class="row collapse banner fixed" style="background-image:url({{ site.baseurl }}{{ page.banner }});">
		<div class="screen-12 columns">
			<object data="{{ site.baseurl }}/assets/svg/pheye-live.svg" type="image/svg+xml" class="pheye">
			</object>
		</div>
	</div>
	{% for post in paginator.posts %}
		<article>
			<div class="screen-11 screen-centered small-8 small-centered medium-7 medium-centered large-6 large-centered extra-large-5 extra-large-centered columns">
		  		<header>
		  			<h2 class="h1"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
		  				<small>
		  					<span class="author"><a href="http://www.twitter.com/{{ post.twitterhandle }}">Dustin Armstrong</a></span> | 
		  					<time pubdate="pubdate">{{ post.date | date_to_string }}</time>
		  				</small>
		  			</h2>
		  		</header>
				{{ post.excerpt }}
				<footer>
					<a href="{{ site.baseurl }}{{ post.url }}">Read More &raquo;</a>
				</footer>
		  	</div>
	  	</article>
	{% endfor %}
	<div class="row">
		<div class="screen-11 screen-centered small-8 small-centered medium-7 medium-centered large-6 large-centered extra-large-5 extra-large-centered columns">
			{% include pagination.html %}
		</div>
	</div>
</div>