---
layout: default
title: Posthuman - Blog
banner: '!SITE_URL'/images/IMG_6588.jpg
---

<div class="content index">
	<div class="row collapse banner" style="background-image:url({{ page.banner | replace: '!SITE_URL!', site.url }});">
		<div class="small-12 columns">
			{% include eye.html %}
		</div>
	</div>
	{% for post in paginator.posts %}
		<article>
			<!-- {% if post.banner != %}
				<div class="row collapse banner">
					<div class="small-12 columns">
						<img src="{{ post.banner }}">
					</div>
				</div>
			{% endif %} -->
			<div class="screen-11 screen-centered small-8 small-centered medium-7 medium-centered large-6 large-centered extra-large-5 extra-large-centered columns">
		  		<header>
		  			<h2 class="h1"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><!-- <small><time pubdate="pubdate">{{ post.date | date_to_string }}</time></small> --></h2>
		  		</header>
				{{ post.excerpt }}
				<footer>
					<a href="{{ site.baseurl }}{{ post.url }}">Read More &raquo;</a>
				</footer>
		  	</div>
	  	</article>
	{% endfor %}
	<div class="row">
		<div class="screen-11 screen-centered small-8 small-centered medium-7 medium-centered large-6 large-centered extra-large-5 extra-large-centered columns">
			<nav class="pagination">
				<ul>
				{% if paginator.previous_page %}
					{% if paginator.previous_page == 1 %}
					<li><a href="{{ site.baseurl }}">&laquo; Newer</a></li>
					{% else %}
					<li><a href="{{ site.baseurl }}/page{{ paginator.previous_page }}">&laquo; Newer</a></li>
					{% endif %}
				{% else %}
				{% endif %}
				{% if paginator.page == 1 %}
					{% if paginator.page != paginator.total_pages %}
						<li><span class="active">1</span></li>
					{% endif %}
				{% else %}
					<li><a href="{{ site.baseurl }}">1</a></li>
				{% endif %}
				{% for count in (2..paginator.total_pages) %}
					{% if count == paginator.page %}
					<li><span class="active">{{ count }}</span></li>
					{% else %}
					<li><a href="{{ site.baseurl }}/page{{ count }}">{{ count }}</a></li>
					{% endif %}
				{% endfor %}
				{% if paginator.next_page %}
				<li><a href="{{ site.baseurl }}/page{{ paginator.next_page }}">Older &raquo;</a></li>
				{% else %}
				{% endif %}
				</ul>
			</nav>
		</div>
	</div>
</div>