code {
	max-width: 100%;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	font-size: .75em;
	color: #777;
	padding: .2em;
	border-radius: $border-radius;
	@media #{$small} {
		padding: .1em;
	}
}