<div class="row">
	<div class="small-12 large-centered large-4 columns">
		<form action="#">
			<fieldset>
				<legend>Login</legend>

				{{#if view.errorMessage}}
				  <div class="error"><i class="ph-warning"></i> {{view.errorMessage}}</div>
				{{/if}}
				
				<label>Email:</label>
				{{input type=text value=view.email placeholder="Email..."}}

				<label>Password:</label>
				{{input type=password value=view.password placeholder="Password..."}}

				<div class="remember-me">
					{{input type=checkbox value=view.remember checked=view.remember id="checkbox"}}
					<label for="checkbox">Remember Me</label>
				</div>

				<button type="submit" class="primary">Login</button>
			</fieldset>
		</form>
	</div><!-- end small-12 large-centered large-4 columns -->
</div><!-- end row -->