<h1>Search</h1>

<h1>H1</h1>
<h2>H2</h2>
<h3>H3</h3>
<h4>H4</h4>
<h5>h5</h5>
<h6>h6</h6>

<h3>Buttons</h3>
<button class="primary">Primary</button>
<button class="secondary">Secondary</button>
<button class="alert large">Alert</button>

<h3>Links</h3>
<p>
	H3110 there. Welcome to the site where <i>ut lorem massa</i>, consequat sit. <a href="#">Link primary</a><br>
	<a href="#" class="active">Active</a>
</p>