@import 'fonts.css.scss';
@import 'mixins.css.scss';
@import 'foundation.scss';

h1, h2, h3, h4, h5, h6, legend {
	text-shadow: $inset-text-shadow;
	color: $black;
	clear: both;
	margin-bottom: 8px;
	font-family: $pt-sans;

	& a {
		color: inherit;

		&:hover {
			color: $lightblack;
		}
	}
}

h1, legend {
	font-size: $medium-font;
	margin-top: 0px;
	@media #{$small} {
		font-size: $extra-large-font;
	}
}
h2 {
	font-size: $small-font;
	@media #{$small} {
		font-size: $large-font;
	}
}
h3, h4, h5, h6 {
	font-size: $extra-small-font;
	@media #{$small} {
		font-size: $medium-font;
	}

}

p {
	line-height: 22px;
	margin-bottom: 10px;

	@media #{$small} {
		line-height: 28px;
	}
}

a {
	color: $red;
	text-decoration: none;
	@include transition;

	&.active, &:hover {
		color: $blue;
		@include transition;
	}
}

ul {

	li {
		margin-left: 20px;
		line-height: 20px;
		@media #{$small} {
			line-height: 25px;
		}
	}
}

button, input[type=button], input[type=submit] {
	display: block;
	float: left;
	margin: 5px 5px 15px 5px;
	padding: 8px;
	@include radius;
	border: none;
	color: $white;
	text-shadow: $text-shadow;
	font-family: $pt-sans;

	&:hover {
		//@include button-shadow;
		border: none;
		margin-top: 7px;
		margin-bottom: 12px;
	}

	&:active {
		margin-top: 8px;
		margin-bottom: 11px;
	}

	&.primary {
		background: $blue;
		@include button-raised($darkblue);

		&:hover {
			@include button-lowered($darkblue);
		}

		&:active {
			@include button-pressed($darkblue);
		}
	}

	&.secondary {
		background: $grey;
		@include button-raised($darkgrey);

		&:hover {
			@include button-lowered($darkgrey);
		}

		&:active {
			@include button-pressed($darkgrey);
		}
	}

	&.alert {
		background: $red;
		@include button-raised($darkred);

		&:hover {
			@include button-lowered($darkred);
		}

		&:active {
			@include button-pressed($darkred);
		}
	}

	&.large {

	}
}

/*------------------------------*/

body, html {
	background: image-url('bg.png') $offwhite;
	min-height: 100%;
	height: 100%;
	color: $black;
	padding-top: 40px;
	font-size: $extra-small-font;
	font-family: $pt-serif;

	@media #{$small} {
		font-size: $small-font;
		padding-top: 60px;
	}

	header#header {
		width: 100%;
		background: $transparentwhite;
		text-align: center;
		padding: 15px 0;
		position: fixed;
		top: 0;
		z-index: 1000;
		font-family: $pt-sans;
		min-height: 50px;
		height: 50px;
		overflow: hidden;
		@include transition;

		.menu-toggle {
			position: fixed;
			top: 16px;
			right: 26px;
			@include transition;
			font-size: $small-font;
			z-index: 9999;
		}

		ul {

			li {
				display: block;

				a {
					height: 30px;
				}

				&.logo {
					display: none;
				}

				&.mobile-logo {
					opacity: 1;
					font-size: 20px;
					margin: 0 0 30px 0;
					
					a {
						color: $black;
					}
				}
			}
		}

		&.active {
			height: 100%;
			@include transition;

			.menu-toggle {
				@include transition;
				@include rotate-180;
			}

			ul {

				li {
				}
			}
		}

		@media #{$small} {
			height: 75px;
			padding: 20px 0;

			.menu-toggle {
				display: none;
			}

			ul {

				li {
					display: inline-block;
					margin: 0 20px;
					vertical-align: top;
					padding-top: 4px;
					
					&.mobile-logo {
						display: none;
					}

					&.logo {
						font-size: 30px;
						padding-top: 0;
						display: inline-block;

						a {
							color: $black;
							@include transition;

							&:hover {
								color: $grey;
								@include transition;
							}
						}
					}
				}
			}
		}
	}

	article {
		margin-bottom: 40px;

		header {

			img {
				margin: 10px 0;
			}
		}
	}

	form {

		fieldset {
			border: none;
		}

		.remember-me {
			display: inline-block;
			float: right;
			padding-top: 15px;
			color: $darkgrey;

			label {
				display: inline-block;
				cursor: pointer;
		    	position: relative;
		    	padding-left: 25px;
		    	font-size: 13px;

				&:before {
					@include radius;
					content: "";
				    display: inline-block;
				    width: 20px;
				    height: 16px;
				    position: absolute;
				    left: 0;
				    bottom: -2px;
				    border-bottom: 1px dashed $darkgrey;
				}
			}

			input[type=checkbox]:checked + label:before {
				content: "x";
				padding-left: 8px;
			}
		}

		label, input[type=checkbox] {
			display: none;
		}

		input:not([type=submit]):not([type=file]):not([type=checkbox]), textarea {
			border: none;
			background: none;
			display: block;
			margin: 20px auto;
			width: 100%;
			border-bottom: 1px dashed $darkgrey;
			padding: 0px;
			color: $darkgrey;
			resize: none;

			&:focus {
				outline: none;
			}
		}
	}

	.columns {
		margin-bottom: 20px;
	}
}

.right {
	float: right;
}

.left {
	float: left;
}

.error {
	background: $red;
	color: white;
	padding: 10px;
	margin: 5px 0;
	@include radius;

}