---
layout: default
---

<div class="content page">
	<div class="row collapse banner fixed" {% if banner != "null" %}style="background-image:url({{ site.baseurl }}{{ page.banner }});"{% endif %}>
		<div class="screen-12 columns">
			<object data="{{ site.baseurl }}/assets/svg/pheye-live.svg" type="image/svg+xml" class="pheye">
			</object>
			<header class="text-center"><h1 class="page-title">{{ page.title }}</h1></header>
		</div>
	</div>
	<div class="row">
		{% include content-columns.html %}
			{{ page.content }}
		</div>
	</div>
</div>
