---
layout: default
---
<div class="content">
	<article>
		{% if page.banner != %}
			<div class="row collapse banner">
				<div class="small-12 columns">
					<img src="{{ page.banner | replace: '!SITE_URL!', site.url }}">
				</div>
			</div>
		{% endif %}
		<div class="screen-11 screen-centered small-8 small-centered medium-7 medium-centered large-6 large-centered extra-large-5 extra-large-centered columns">
	  		<header>
	  			<h1 class="text-center"><!-- <small><time pubdate="pubdate">{{ page.date | date_to_string }}</time></small> -->{{ page.title }}</h1>
	  		</header>
			{{ content }}
			<footer>
				{% if page.tags != empty %}
					<p>Tags: 
					{% for tag in page.tags %}
						<a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
					{% endfor %}
					</p>
				{% endif %}
			</footer>
	  	</div>
	</article>
</div>