---
layout: default
---
<div class="content">
	<article>
		{% if page.banner != %}
			<div class="row collapse banner">
				<div class="small-12 columns">
					<img src="{{ page.banner }}">
				</div>
			</div>
		{% endif %}
		<div class="small-11 small-centered medium-10 medium-centered large-6 large-centered columns">
	  		<header>
	  			<h1><small><time pubdate="pubdate">{{ page.date | date_to_string }}</time></small>{{ page.title }}</h1>
	  		</header>
			{{ content }}
			<footer>
				{% if page.tags != empty %}
					Tags: 
					{% for tag in page.tags %}
						<a href="{{ site.baseurl }}tag/{{ tag }}">{{ tag }}</a>
					{% endfor %}
				{% endif %}
			</footer>
	  	</div>
	</article>
</div>